@charset "UTF-8"; 

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
}
header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    background-color: lightgray;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}
div.um{
    margin-bottom: 10px;
}
div.dois{
    margin-bottom: 10px;
}
footer{
    background-color: lightgray;
   text-align: center;
}
p{
    text-indent: 10px;
}
img{
    margin: auto;
    width: 100%;
}
a{
    color: black;
}

